@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === font-weight === */
    --general-font-weight: 400;
    --title-font-weight: 700;

    /* === font-size === */
    --general-font-size: 1rem;
    --title-font-size: 3rem;
    --items-font-size: 2rem;
    --infos-font-size: 0.875rem;

    /* === colors === */
    --default-color: #ffffff;
    --default-color-hover: #eeeeee;
    --default-color-button: #167BF7;
    --default-color-button-hover: #176bd2;
    --default-color-infos: #C0C0C0;
}

body {
    background-color: #00030C;
    color: var(--default-color);
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 100vh;
}

.conteudo__principal {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.secao_combo {
    padding: 8% 0%;
    display: flex;
    flex-direction: row;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.secao_combo__principal {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: 50%;
}

.secao_combo__principal__titulo {
    font-size: 1.75rem;
    font-weight: var(--title-font-weight);
    text-align: center;
    width: 80%;
}

.secao_combo__principal__img {
    width: 50%;
}

.secao_combo__principal__assinar-12x {
    display: inline-block;
    padding: 2.5% 5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: var(--default-color-button);
    color: var(--default-color);
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
}

.secao_combo__principal__assinar-12x:hover {
    background-color: var(--default-color-button-hover);
    color: var(--default-color-hover);
}

.secao_combo__principal__assinar-alura-plus {
    border: 1.5px solid #ffffff;
    border-radius: 8px;
    padding: 2.5% 5%;
    text-decoration: none;
    text-align: center;
    color: var(--default-color);
    transition: background-color 0.3s;
    width: 75%;
}

.secao_combo__principal__assinar-alura-plus:hover {
    background-color: #181818;
}

.secao_combo__principal__info {
    font-size: 0.75rem;
    font-weight: var(--general-font-weight);
    color: var(--default-color-infos);
    text-align: center;
}

.secao_plataformas {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 70px;
}

.secao_plataformas__principal {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secao_plataformas__principal__titulo {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

.secao_plataformas__principal__info {
    font-size: var(--infos-font-size);
    font-weight: var(--general-font-weight);
    color: var(--default-color-infos);
}

.secao_plataformas__img {
    width: 35%;
}

.secao_telas {
    display: flex;
    align-items: center;
    gap: 60px;
}

.secao_telas__principal {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.secao_telas__principal__info {
    font-size: var(--general-font-size);
    font-weight: var(--general-font-weight);
    color: var(--default-color-infos);
}

.secao_telas__principal__assinar {
    padding: 2.5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: var(--default-color-button);
    font-size: var(--general-font-size);
    font-weight: var(--general-font-weight);
    color: var(--default-color);
    width: 30%;
    transition: background-color 0.3s, color 0.3s;
}

.secao_telas__principal__assinar:hover {
    background-color: var(--default-color-button-hover);
    color: var(--default-color-hover);
}

.secao_telas__img {
    width: 35%;
}

.secao_baixar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.secao_baixar__principal {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secao_baixar__principal__titulo {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--default-color);
}

.secao_baixar__principal__info {
    font-size: var(--general-font-size);
    font-weight: var(--general-font-weight);
    color: var(--default-color-infos);
}

.secao_baixar__img {
    width: 35%;
}

.secao_dispositivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.secao_dispositivos__titulo {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--default-color);
    text-align: center;
}

.secao_dispositivos__principal {
    display: flex;
    gap: 40px;
}

.secao_dispositivos__principal__aparelho {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.secao_dispositivos__principal__titulo {
    font-size: var(--items-font-size);
    font-weight: var(--title-font-weight);
}

.secao_dispositivos__principal__img {
    width: 100%;
}

.rodape {
    padding: 8% 10% 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rodape__img {
    width: 8%;
}

.rodape__links {
    display: flex;
    gap: 16px;
}

.rodape__links__link {
    font-size: var(--general-font-size);
    color: var(--default-color);
    text-decoration: none;
    transition: color 0.4s;
}

.rodape__links__link:hover {
    color: var(--default-color-button-hover);
}

.rodape__direitos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.direitos__descricao {
    text-align: center;
    font-size: var(--infos-font-size);
    color: var(--default-color-infos);
}